.header {
    width: 250px;
    border-right: 2px solid #3f3f3f;
    height: 100vh;
    background-color: rgb(90, 90, 90);
}
.logo {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.logo-left {
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 50%;
    font-weight: 700;
    margin: 5px;
    border: 2px solid #3f3f3f;
}

.logo-right {
    color:#ffff;
    font-size: 1.7rem;
    font-weight: 600px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffff;
}
.links a {
    text-decoration: none;
    color: #ffff;
    padding: 10px;
}

.links a:hover {
    border-radius: 5px;
    width: 200px;
    background-color: #3b7b8b;
    transition: ease-in-out 0.3s;
}
.top {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #3f3f3f ;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagename {
    position: absolute;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
}